<IfModule mod_headers.c>
    Header always set Content-Security-Policy "script-src 'self' cdnjs.cloudflare.com; style-src 'self' cdnjs.cloudflare.com; img-src 'self'; manifest-src 'self'"
</IfModule>
